@use '../../../styles/mixins' as *

@media (max-width: 800px)
    .legal-notice
        .txt
            padding: min(3em, 15%)
            margin-top: 100px

            h2
                @include font-f-s-c-w-lh-ls-a($family: 'Baloo 2', $size: 2rem, $color: #5988FF, $weight: 700, $lineHeight: null, $letterSpacing: null, $align: null)
                margin-bottom: 10px

        .legal-notice-item
            h4
                @include font-f-s-c-w-lh-ls-a($family: 'Baloo 2', $size: 1.3rem, $color: #5988FF, $weight: 700, $lineHeight: null, $letterSpacing: null, $align: null)
                margin-bottom: 10px

            span
                @include font-f-s-c-w-lh-ls-a($family: 'Montserrat', $size: 1rem, $color: black, $weight: null, $lineHeight: 1.6, $letterSpacing: null, $align: null)

@media (max-width: 520px)
    .legal-notice
        .txt
            h2
                @include font-f-s-c-w-lh-ls-a($family: 'Baloo 2', $size: 1.1rem, $color: null, $weight: 400, $lineHeight: null, $letterSpacing: null, $align: null)
                margin-bottom: 10px

        .legal-notice-item
            h4
                @include font-f-s-c-w-lh-ls-a($family: 'Baloo 2', $size: 1rem, $color: null, $weight: 400, $lineHeight: null, $letterSpacing: null, $align: null)
                margin-bottom: 10px

            span
                @include font-f-s-c-w-lh-ls-a($family: 'Montserrat', $size: 0.9rem, $color: null, $weight: null, $lineHeight: 1, $letterSpacing: null, $align: null)
