<content>
    <div  class="content-container">
        
        <div class="hero">
            <app-hero></app-hero>
        </div>

        <div class="work-together">
            <app-work-together></app-work-together>
        </div>

        <div class="skill-set">
            <app-skill-set></app-skill-set>
        </div>

        <div  class="my-work">
            <app-my-work></app-my-work>
        </div>

        <div class="my-project">
            <app-my-project></app-my-project>
        </div>

        <div class="ref-section">
            <app-ref-section></app-ref-section>
        </div>

        <div class="contact-section">
            <app-contact-section></app-contact-section>
        </div>

    </div>

</content>