.header-container
  margin: 0
  height: 117px
  width: 100%
  position: fixed
  top: 0
  right: 0
  left: 0
  display: flex
  justify-content: space-between
  align-items: center
  backdrop-filter: blur(65px)
 

.header-navbar-container
  width: 418px
  height: 32px
  display: flex
  justify-content: space-between


.header-img-container
  display: flex
  align-items: center
  margin-left: 100px
  width: 64px
  height: 69px

.header-logo

  width: 64px
  height: 69px

.header-logo:hover 
  cursor: pointer

.desktop-menu 
  width: 418px
  height: 32px
  display: flex
  justify-content: space-between

.desktop-menu ul 
  padding: 0
  margin: 0

.desktop-menu ul li 
  list-style-type: none
  color:  #5988FF
  display: inline-block
  font-size: 18px
  margin-left: 26px

.desktop-menu ul li:hover 
  font-size: 19px
  font-weight: bold
  cursor: pointer
  font-weight: bolder
  transition: 0.3s ease-in-out

.mobile-menu 
  display: none


@media screen and (min-width: 128px) and (max-width: 500px) 
  .desktop-menu 
    background: blur 65
    width: 280px
    height: 100%
  
  .desktop-menu ul li 
    display: block
    text-align: left
    margin: 0
    padding: 10px 0 10px 26px
    border-bottom: 1px solid grey
  
  .mobile-menu 
    display: block
    margin-right: 30px
    color: white
    font-size: 40px
    padding-top: 10px
  
  .mobile-menu 
    right: 0
    transition: 0.4s ease-in-out
    