:host
    display: block
    width: 100%
    margin-left: 0
    margin-right: 0
a
  text-decoration: none
  font-family: 'Montserrat', sans-serif
  font-weight: 400
  font-size: 23px
  line-height: 120%
  letter-spacing: 0%
  color: #5988FF

a:hover
  font-weight: bold

.header-section
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  margin: 0
  height: 117px
  position: fixed
  top: 0
  right: 0
  left: 0
  backdrop-filter: blur(65px)
  background-color: rgba(49, 47, 82, 0.5)
  z-index: 5

.header-container
  width: 100%
  max-width: 1920px
  height: 117px
  margin: 0 auto
  display: flex
  justify-content: space-between
  align-items: center
  z-index: 6

.header-navbar-container
  width: 600px
  height: 32px
  display: flex
  justify-content: space-between

.header-img-container
  display: flex
  align-items: center
  margin-left: 100px
  width: 64px
  height: 69px

.header-logo
  width: 64px
  height: 69px

.header-logo:hover 
  cursor: pointer

.desktop-menu 
  width: 610px
  height: 32px
  display: flex
  margin-right: 100px
  justify-content: space-between

.desktop-menu ul 
  display: flex
  justify-content: space-around
  padding: 0
  margin: 0
  width: 600px

.desktop-menu ul li 
  list-style-type: none
  width: 120px
  color:  #5988FF
  display: inline-block
  font-family: 'Montserrat', sans-serif
  font-weight: 400
  font-size: 23px
  line-height: 120%
  letter-spacing: 0%
  color: #5988FF
  margin-left: 20px
  transition: transform 0.3s ease

.desktop-menu ul li:hover 
  font-weight: bold
  cursor: pointer
  transform: scale(1.15)

.de,
.cut,
.en
  width: 25px!important
  text-decoration: none
  font-family: 'Montserrat', sans-serif
  font-weight: 400
  font-size: 23px
  line-height: 120%
  letter-spacing: 0%
  color: #5988FF

.en
  margin-left: -5px!important

.cut
  margin-left: 5px
  padding: 8px
  text-decoration: none
  font-family: 'Montserrat', sans-serif
  font-weight: 400
  font-size: 23px
  line-height: 120%
  letter-spacing: 0%
  color: #5988FF

.burger-menu-icon
  display: none

.mobile-nav
  display: none

@media (max-width: 800px)
  .header-container
    width: 100%
    margin: 0 auto
    padding: 10px 20px
    display: flex
    justify-content: space-between
    gap: 10px

  .header-img-container
    margin-left: 20px

  .burger-menu-icon
    display: flex
    width: 30px
    height: 28px
    cursor: pointer
    margin-right: 20px

  .desktop-menu
    display: none

  .mobile-nav
    display: flex
    flex-direction: column
    align-items: center
    gap: 15px
    padding: 15px
    margin-top: 100px
    margin-right: 40px
    backdrop-filter: blur(65px)
    background-color: rgba(197, 178, 240, 0.8)
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
    width: 100%
    z-index: 4
    position: relative

    a
      color: #0043F0
      font-size: 16px
      text-decoration: none
      font-family: 'Montserrat', sans-serif
      font-weight: 500

    .lang-switch
      display: flex
      gap: 5px
      font-size: 14px
      justify-content: center
      align-items: center

@media (min-width: 1440px)
  .burger-menu-icon
    display: none
