<section id="header" class="header-section">
    <div class="header-container">
        <div class="header-logo-container">
            <div class="header-img-container">
                <a href="#scrollUp">
                    <img class="logo-img" src="assets/img/icon/logo.png" alt="Scroll to the top.">
                </a>
            </div>
        </div>
        <div class="header-navbar-container">
            <div class="navbar-desktop">
                <div class="navbar-desktop-links-container">
                    <a class="navbar-desktop-link" href="#aboutMe">
                        {{ 'NAV.ABOUT_ME' | translate }}
                    </a>
                    <a class="navbar-desktop-link" href="#skillSet">
                        {{ 'NAV.SKILL_SET' | translate }}
                    </a>
                    <a class="navbar-desktop-link" href="#myWork">
                        {{ 'NAV.MY_WORK' | translate }}
                    </a>
                    <a class="navbar-desktop-link" href="#contact">
                        {{ 'NAV.CONTACT' | translate }}
                    </a>
                    <div class="navbar-desktop-link">
                        <div class="navbar-desktop-de-en-container">
                            <div class="de" [ngClass]="{ 'active': currentLanguage === 'de' }" (click)="switchToGerman()">
                                De
                            </div>
                            <div class="cut">
                                /
                            </div>
                            <div class="en" [ngClass]="{ 'active': currentLanguage === 'en' }" (click)="switchToEnglish()">
                                En
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar-mobile">
                <div class="navbar-mobile-burger-icon" (click)="openMenu()">
                    <img class="burger-menu-img" src="assets/img/icon/burger-menu.png" alt="Open or close the burger-menu.">
                </div>
                <div class="navbar-mobile-links-container" [class.show]="menuValue" [class.hide]="!menuValue">
                    <a class="navbar-mobile-link" href="#aboutMe" (click)="closeMenu()">
                        {{ 'NAV.ABOUT_ME' | translate }}
                    </a>
                    <a class="navbar-mobile-link" href="#skillSet" (click)="closeMenu()">
                        {{ 'NAV.SKILL_SET' | translate }}
                    </a>
                    <a class="navbar-mobile-link" href="#myWork" (click)="closeMenu()">
                        {{ 'NAV.MY_WORK' | translate }}
                    </a>
                    <a class="navbar-mobile-link" href="#contact" (click)="closeMenu()">
                        {{ 'NAV.CONTACT' | translate }}
                    </a>
                    <div class="navbar-mobile-link">
                        <div class="navbar-mobile-de-en-container">
                            <span class="de" [ngClass]="{ 'active': currentLanguage === 'de' }" (click)="switchToGerman()">
                                De
                            </span>
                            <span class="cut">
                                /
                            </span>
                            <span class="en" [ngClass]="{ 'active': currentLanguage === 'en' }" (click)="switchToEnglish()">
                                En
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
