<footer>
    <div class="footer-container">
        <div class="logo-container">
            <img src="./assets/img/icon/logo.png" class="logo-img" alt="">
        </div>
        <div class="created-copyright-impressum-container">
            <div class="over-copyright-container"></div>
            <div class="copyright-container">
                © Jennifer Thomas 2025
            </div>
            <div class="legal-notice-container">
                <a [routerLink]="['/legal-notice']" >Legal Notice</a>
            </div>
        </div>
        <div class="footer-iconlist-horizontal">
            <div class="footer-icon-container">
                <img src="./assets/img/icon/github.png" alt="">
            </div>
            <div class="footer-icon-container">
                <img src="./assets/img/icon/email.png" alt="">
            </div>
            <div class="footer-icon-container">
                <img src="./assets/img/icon/linkedin.png" alt="">
            </div>
        </div>
    </div>
</footer>
