.footer-container
    width: 100%
    height: 286px
    background-color: #2f53b6
    // background: radial-gradient (#5988FF, #0043F0)
    display: flex
    align-items: center

.logo-container
    width: 30%
    height: 100%
    display: flex
    margin-left: 100px
    align-items: center
    color: white


.logo-img

    width: 64px
    height: 69px


.created-copyright-impressum-container
    width: 30%
    height: 80%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    color: white

.over-copyright-container
    width: 100%
    height: 30% 
    display: flex
    justify-content: center
    align-items: center
    color: white
    
.copyright-container
    width: 100%
    height: 30%
    display: flex
    justify-content: center
    align-items: center

.legal-notice-container
    width: 100%
    height: 30%
    display: flex
    justify-content: center
    align-items: center


    a:link, a:visited 
            text-decoration: none
            color: white


.footer-iconlist-horizontal
    width: 30%
    height: 100%
    display: flex
    justify-content: center
    align-items: center