<footer>
    <div class="footer-section">
        <div class="footer-container">
            <div class="logo-container">
                <a (click)="scrollUp()">
                    <img src="assets/img/icon/logo.png" class="logo-img" alt="Scroll to the top.">
                </a>
            </div>
            <div class="created-copyright-impressum-container">
                <div class="over-copyright-container">
                </div>
                <div class="copyright-container">
                    © Jennifer Thomas 2025
                </div>
                <div class="legal-notice-container">
                    <a [routerLink]="['/legal-notice']">
                        {{ 'FOOTER.LEGAL' | translate }}
                    </a>
                </div>
            </div>
            <div class="footer-iconlist-horizontal">
                <div class="footer-icon-container">
                    <a href="https://github.com/TerrorDackel?tab=repositories" target="_blank">
                        <img src="./assets/img/icon/1w.png" alt="">
                    </a>
                </div>
                <div class="footer-icon-container">
                    <a href="mailto:82.jennifer.@gmail.com" target="_blank">
                        <img src="./assets/img/icon/2w.png" alt="">
                    </a>
                </div>
                <div class="footer-icon-container">
                    <a href="https://de.linkedin.com" target="_blank">
                        <img src="./assets/img/icon/3w.png" alt="">
                    </a>
                </div>
            </div>
            <div class="legal-notice-container-mobile">
                <a [routerLink]="['/legal-notice']">
                    {{ 'FOOTER.LEGAL' | translate }}
                </a>
            </div>
        </div>
    </div>
</footer>
