@use '../../../../styles/mixins' as *

@media (max-width: 700px)
  .my-work-section
    .my-work-container
      .my-work-head-container
        @include boxsize-w-h-minw-minh-maxw-maxh($w: 100%, $h: auto, $minw: null, $minh: null, $maxw: null, $maxh: null)

          .container-right
            display: none

            .container-left
              @include boxsize-w-h-minw-minh-maxw-maxh($w: 100%, $h: auto, $minw: null, $minh: null, $maxw: null, $maxh: null)

                .header-and-description-container
                  padding: 1rem 0 0 0

                  .header-container
                    @include flex-d-j-a-g($dir: row, $justify: center, $align: stretch, $gap: null)

                      .header-txt
                        padding: 0 0 1rem 0

@media (max-width: 500px)
  .my-work-section
    .my-work-container
      .my-work-head-container
        padding: 0

        .container-left
          .my-work-circle-7-container
            .circle-7
              @include size-w-h($w: 45px, $h: 45px)

@media (max-width: 430px)
  .my-work-section
    .my-work-container
      .my-work-head-container
        @include boxsize-w-h-minw-minh-maxw-maxh($w: 100%, $h: auto, $minw: null, $minh: null, $maxw: null, $maxh: null)

          .container-left
            .header-and-description-container
              .header-container
                .header-txt
                  @include font-f-s-c-w-lh-ls-a($family: null, $size: 3.5rem, $color: null, $weight: null, $lineHeight: null, $letterSpacing: null, $align: null)

@media (max-width: 380px)
  .my-work-section
    .my-work-container
      .my-work-head-container
        .container-left
          .my-work-circle-7-container
            .circle-7
              display: none

@media (max-width: 340px)
  .my-work-section
    .my-work-container
      .my-work-head-container
        .container-left
          .header-and-description-container
            .header-container
              .header-txt
                @include font-f-s-c-w-lh-ls-a($family: null, $size: 3rem, $color: null, $weight: null, $lineHeight: null, $letterSpacing: null, $align: null)

@media (max-width: 295px)
  .my-work-section
    .my-work-container
      .my-work-head-container
        .container-left
          .header-and-description-container
            .header-container
              @include flex-d-j-a-g($dir: row, $justify: center, $align: center, $gap: null)

                .header-txt
                  @include font-f-s-c-w-lh-ls-a($family: null, $size: 2.6rem, $color: null, $weight: null, $lineHeight: null, $letterSpacing: null, $align: null)

@media (max-width: 260px)
  .my-work-section
    .my-work-container
      .my-work-head-container
        .container-left
          .header-and-description-container
            .header-container
              .header-txt
                @include font-f-s-c-w-lh-ls-a($family: null, $size: 2.1rem, $color: null, $weight: null, $lineHeight: null, $letterSpacing: null, $align: null)

@media (prefers-reduced-motion: reduce)
  .reveal-zoom
    opacity: 1 !important
    transform: none !important
    animation: none !important
