<section class="hero-section" id="scrollUp">
  <div class="hero-container-desktop">
    <div class="hero-top-circle-container">
      <div class="circle-3-container">
        <div class="circle-3">
        </div>
      </div>
    </div>
    <div class="hero-img-header-scroll-iconlist">
      <div class="hero-img-container">
        <img
          class="hero-img"
          src="./assets/img/img1_bearb-kl.png"
          alt="Portrait of frontend developer Jennifer Thomas."
        />
      </div>
      <div class="hero-header-scroll-container">
        <div class="header-alignment">
          <div class="header-txt-container">
            <div class="header-txt-alignment reveal-zoom">
              <h2 class="hero-txt-hallo">
                {{ 'HERO.HELLO' | translate }}
              </h2>
              <h1 class="hero-text-frontend">
                Frontend
              </h1>
              <h1 class="hero-text-developer">
                Developer
              </h1>
            </div>
          </div>
        </div>
        <div class="scroll-container">
          <div class="scroll-desktop">
            <span class="scroll-txt">
              SCROLL
            </span>
            <div class="line-container">
              <div class="line">
              </div>
            </div>
          </div>
        </div>
        <div class="hero-iconlinks-alignment-container">
          <div class="hero-iconlinks-container">
            <div class="hero-iconlist-vertikal">
              <div class="hero-icon-container">
                <a
                  href="https://github.com/TerrorDackel?tab=repositories"
                  target="_blank"
                  aria-label="Open my GitHub profile in a new tab"
                >
                  <img src="./assets/img/icon/github.png" alt="" />
                </a>
              </div>
              <div class="hero-icon-container">
                <a
                  href="mailto:contact@jennifer-thomas.de"
                  target="_blank"
                  aria-label="Send me an email"
                >
                  <img src="./assets/img/icon/email.png" alt="" />
                </a>
              </div>
              <div class="hero-icon-container">
                <a
                  href="https://www.linkedin.com/in/jennifer-thomas-595735360/"
                  target="_blank"
                  aria-label="Open my LinkedIn profile in a new tab"
                >
                  <img src="./assets/img/icon/linkedin.png" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <div class="hero-container-mobile">
    <div class="hero-top-circle-container">
      <div class="circle-3-container">
        <div class="circle-3">
        </div>
      </div>
    </div>
    <div class="hero-header-scroll">
      <div class="hero-header-scroll-container">
        <div class="header-alignment">
          <div class="header-txt-container">
            <div class="header-txt-alignment reveal-zoom">
              <h2 class="hero-txt-hallo">
                {{ 'HERO.HELLO' | translate }}
              </h2>
              <h1 class="hero-text-frontend">
                Frontend
              </h1>
              <h1 class="hero-text-developer">
                Developer
              </h1>
            </div>
          </div>
        </div>
        <div class="scroll-container">
          <div class="scroll-responsive">
            <div class="scroll-responsive-txt">
              Scroll down &#10132;
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-img-container">
      <img
        class="hero-img"
        src="./assets/img/img1_bearb-kl.png"
        alt="Portrait of frontend developer Jennifer Thomas."
      />
    </div>
  </div>
</section>
