.hero-container
    width: 100%
    max-width: 1920px
    height: 1029px
    background: linear-gradient(0deg, rgba(234,240,255,1) 0%, rgba(245,248,255,1) 35%, rgba(255,255,255,1) 100%)
    display: flex
    z-index: 2

.circle-3-container
    width: 892px
    height: 892px
    
.circle-3
    position: absolute
    width: 892px
    height: 892px
    top: -71px
    left: -199px
    border-radius: 50%
    background-color: #5988FF
    background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%)
    display: flex
    z-index: 1

.hero-img-container
    display: flex
    height: 917px
    width: 761px
    margin-top: 110px
    // background-color: #ac2727
    object-fit: cover

.hero-img
    display: flex
    align-items: center
    justify-content: center
    margin-left: -200px
    object-fit: cover
    z-index: 5

.hero-text-container
    display: flex
    flex-direction: column
    margin-top: 280px
    margin-left: 731px
    max-width: 645px
    max-height: 282px

.hero-text-hello-container
    display: flex
    margin-left: -500px
    max-width: 645px
    max-height: 61px

.hero-text-hello
    display: flex
    margin: 0
    font-family: 'Montserrat', sans-serif
    font-size: 64px
    font-weight: 400
    color: #5988FF
    letter-spacing: 0%
    line-height: 100%
    vertical-align: middle

.hero-text-job-title-container
    display: flex
    margin-left: -500px
    flex-direction: column
    max-width: 645px
    max-height: 221px
    font-weight: 400

.hero-text-frontend
    display: flex
    margin: 0
    max-height: 114px
    font-family: 'Baloo 2', sans-serif
    font-size: 128px
    font-weight: 400
    color: #5988FF
    line-height: 120%
    letter-spacing: -2.5%
    vertical-align: middle

.hero-text-developers
    display: flex
    margin: 0
    max-height: 114px
    font-family: 'Baloo 2', sans-serif
    font-size: 128px
    font-weight: 400
    color: #5988FF
    line-height: 120%
    letter-spacing: -2.5%
    vertical-align: middle

.scroll
    display: flex
    align-items: center
    flex-direction: column
    font-family: 'Montserrat', sans-serif
    font-weight: 500
    font-size: 23px
    line-height: 120%
    letter-spacing: 0%
    color: #5988FF
    margin-top: 100px

.line-container
    display: flex
    margin-left:  20px

.line
    display: flex
    justify-content: center
    width: 1px
    height: 330px
    border-width: 2px
    border-style: solid
    border-color: #5988FF
    background-color: #5988FF

.hero-iconlist-vertikal
    display: flex
    flex-direction: column
    width: 30px
    height: 170px
    bottom: 50px
    right: 50px
    margin-left: 50px
    justify-content: space-between
    align-items: center

.hero-icon-container
    display: flex
    justify-content: center
    align-items: center
    width: 30px
    height: 30px
