<div class="hero-container">
    <div class="circle-3-container">
        <div class="circle-3">
        </div>
    </div>
    <div class="hero-img-container">
        <img class="hero-img" src="./assets/img/hero1.png" alt="">
    </div>
    <div class="hero-text-container">
        <div class="hero-text-hello-container">
            <h2 class="hero-text-hello">Hello! I am Jenny</h2>
        </div>
        <div class="hero-text-job-title-container">
            <h1 class="hero-text-frontend">Frontend</h1>
            <h1 class="hero-text-developers">Developer</h1>
            <div class="scroll">
                <span>
                    SCROLL
                </span>
                <div class="line">
                </div>
            </div>
            
        </div>
    </div>
</div>