<section class="hero-section" id="scrollUp">
    <div class="hero-container-desktop">
        <div class="hero-top-circle-container">
            <div class="circle-3-container">
                <div class="circle-3">
                </div>
            </div>
        </div>
        <div class="hero-img-header-scroll-iconlist">
            <div class="hero-img-container">
                <img class="hero-img" src="./assets/img/img1 bearb.png" alt="">
            </div>
            <div class="hero-header-scroll-container">
                <div class="header-allignement">
                    <div class="header-txt-container">
                        <div class="header-txt-allignement">
                            <h2 class="hero-txt-hallo" id="scrollUp">
                            {{ 'HERO.HELLO' | translate }}
                            </h2>
                            <h1 class="hero-text-frontend">
                                Frontend
                            </h1>
                            <h1 class="hero-text-developer">
                                Developer
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="scroll-container">
                    <div class="scroll-desktop">
                        <span class="scroll-txt">
                            SCROLL
                        </span>
                        <div class="line-container">
                            <div class="line">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero-iconlinks-allignement-container">
                    <div class="hero-iconlinks-container">
                        <div class="hero-iconlist-vertikal">
                            <div class="hero-icon-container">
                                <a href="https://github.com/TerrorDackel?tab=repositories" target="_blank">
                                    <img src="./assets/img/icon/github.png" alt="">
                                </a>
                            </div>
                            <div class="hero-icon-container">
                                <a href="mailto:82.jennifer.Thomas@gmail.com" target="_blank">
                                    <img src="./assets/img/icon/email.png" alt="">
                                </a>
                            </div>
                            <div class="hero-icon-container">
                                <a href="https://www.linkedin.com/in/jennifer-thomas-595735360/" target="_blank">
                                    <img src="./assets/img/icon/linkedin.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-container-mobile">
        <div class="hero-top-circle-container">
            <div class="circle-3-container">
                <div class="circle-3">
                </div>
            </div>
        </div>
        <div class="hero-header-scroll">
            <div class="hero-header-scroll-container">
                <div class="header-allignement">
                    <div class="header-txt-container">
                        <div class="header-txt-allignement">
                            <h2 class="hero-txt-hallo">
                            {{ 'HERO.HELLO' | translate }}
                            </h2>
                            <h1 class="hero-text-frontend">
                                Frontend
                            </h1>
                            <h1 class="hero-text-developer">
                                Developer
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="scroll-container">
                    <div class="scroll-responsive">
                        <div class="scroll-responsive-txt">
                            Scroll down &#10132;
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-img-container">
                <img class="hero-img" src="./assets/img/img1 bearb.png" alt="">
            </div>
        </div>
    </div>
</section>
