:host
    display: flex
    justify-content: center
    width: 100%
    margin-left: 0
    margin-right: 0

.hero-section
    display: flex
    justify-content: center
    background: linear-gradient(0deg, rgba(234,240,255,1) 0%, rgba(245,248,255,1) 35%, rgba(255,255,255,1) 100%)
    z-index: 1
    width: 100%
    margin: 0
    height: auto

.hero-container
    display: flex
    justify-content: center
    width: 100%
    max-width: 1920px
    height: auto
    z-index: 2

.circle-3-container
    display: flex

.circle-3
    position: absolute
    width: 892px
    height: 892px
    top: -71px
    left: 30rem
    transform: translateX(50%)
    border-radius: 50%
    background-color: #5988FF
    background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%)
    display: flex
    z-index: 0

.hero-img-txt-container
    display: flex
    justify-content: center
    margin: 0
    margin-left: 15%
    width: 100%
    max-width: 1920px
    height: auto

.hero-img-container
    display: flex
    height: calc( 100vh - 117px )
    width: 50%
    margin-top: 117px
    margin-left: 25%

.hero-img
    display: flex
    align-items: center
    justify-content: center
    object-fit: cover
    z-index: 4

.hero-text-container
    display: flex
    flex-direction: column
    margin-top: 20%
    margin-right: 15%
    max-width: 645px
    max-height: 282px
    z-index: 5

.hero-text-hello-container
    display: flex
    width: 28rem
    height: auto
    max-width: 645px

.hero-text-hello
    display: flex
    margin: 0
    font-family: 'Montserrat', sans-serif
    font-size: clamp(2.25rem, 2.5vw + 1rem, 4rem)
    font-weight: 400
    color: #5988FF
    letter-spacing: 0%
    line-height: 100%
    vertical-align: middle

.hero-text-job-title-container
    display: flex
    width: 28rem
    flex-direction: column
    max-width: 645px
    max-height: 221px
    font-weight: 400

.hero-text-frontend
    display: flex
    margin: 0
    max-height: 114px
    font-family: 'Baloo 2', sans-serif
    font-size: clamp(4.5625rem, 3.5vw + 2rem, 8rem)
    font-weight: 400
    color: #5988FF
    line-height: 120%
    letter-spacing: -2.5%
    vertical-align: middle

.hero-text-developers
    display: flex
    margin: 0
    max-height: 114px
    font-family: 'Baloo 2', sans-serif
    font-size: clamp(4.5625rem, 3.5vw + 2rem, 8rem)
    font-weight: 400
    color: #5988FF
    line-height: 120%
    letter-spacing: -2.5%
    vertical-align: middle

.scroll-txt
    font-family: 'Montserrat', sans-serif
    font-weight: 500
    font-size: 23px
    line-height: 120%
    letter-spacing: 0%
    color: #5988FF
    margin-right: 150px

.scroll
    display: flex
    align-items: center
    flex-direction: column
    margin-top: 58px

.line-container
    display: flex
    margin-left:  20px

.line
    display: flex
    justify-content: center
    width: 1px
    height: 330px
    border-width: 2px
    border-style: solid
    border-color: #5988FF
    background-color: #5988FF

.hero-iconlist-vertikal
    display: flex
    flex-direction: column
    width: 30px
    height: 170px
    bottom: 50px
    right: 50px
    margin-left: 150px
    margin-top: 30px
    justify-content: space-between
    align-items: center

.hero-icon-container
    display: flex
    justify-content: center
    align-items: center
    width: 30px
    height: 30px
    &:hover
        margin-right: 15px

#scrollUp
    scroll-margin-top: 100px

@media (max-width: 1200px)
    .hero-img
        img
            width: auto
            height: 100%

@media (max-width: 1120px)
    .scroll
        margin-top: 5rem
        z-index: 4

@media (max-width: 1120px)
    .scroll
        margin-top: 8rem

@media (max-width: 1000px)
    .hero-text-job-title-container
        margin-right: 2rem

@media (max-width: 832px)
    .hero-text-job-title-container
        color:  #ffffff

    .hero-img-txt-container
        display: flex
        flex-direction: column-reverse
        align-items: center
        justify-content: center
        margin: 0 auto

    .hero-img
        display: flex
        z-index: 6

    .hero-text-container
        z-index: 6

    .scroll
        display: none

    .hero-section
        margin: 0 auto
        margin-top: -20px
        width: 100%
        height: auto
        padding: 20px 10px
        background: linear-gradient(0deg, rgba(234,240,255,1) 0%, rgba(245,248,255,1) 35%, rgba(255,255,255,1) 100%)
        display: flex
        justify-content: center
        z-index: 2

    .hero-img-container
        display: flex
        justify-content: center
        align-items: center
        margin: 0
        height: 500px
        width: auto
        object-fit: cover

    .hero-img
        margin: 0 auto
        display: flex
        align-items: center
        justify-content: center
        max-height: 500px
        width: auto
        z-index: 4

    .hero-text-hello
        display: flex
        justify-content: center
        align-items: center
        margin-top: 4rem
        font-family: Montserrat
        font-weight: 400
        font-size: 36px
        line-height: 100%
        letter-spacing: 0%
        vertical-align: middle
        color: #FFFFFF
        width: 100%
        padding: 0 20px

    .hero-text-frontend,
    .hero-text-developers
        display: flex
        justify-content: center
        align-items: center
        font-family: 'Baloo 2', sans-serif
        font-weight: 400
        font-size: 73px
        line-height: 120%
        letter-spacing: -2.5%
        color: #FFFFFF
        padding: 0 20px
        width: 100%
        margin: 0

    .hero-text-job-title-container,
    .hero-text-hello-container,
    .hero-text-container,
    .hero-img-container
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        max-height: none
        margin: 0
        margin-top: 4rem

    .hero-text-job-title-container
        margin-top: 0

    .hero-text-hello-container
        margin-top: 0

@media only screen and (max-width: 831px) and (min-width: 300px)    
    .hero-img
        margin-top: -130px

@media (max-width: 350px)
    .hero-text-hello,
    .hero-text-frontend,
    .hero-text-developers
        margin: 0
        margin-left: 3px
        text-align: left
        justify-content: flex-start

    .hero-text-hello
        font-size: 34px 
        margin-top: 90px
        margin-left: -10px
    .hero-text-frontend,
    .hero-text-developers
        font-size: 67px

    .hero-img
        margin-bottom: -170px

@media only screen and (max-width: 460px) and (min-width: 320px) 
    .circle-3
        width: 612px
        height: 612px
        right: calc( 307px + 0px )
        left: auto
        transform: translateX(50%)

@media only screen and (max-width: 564px) and (min-width: 460px) 
    .circle-3
        width: 612px
        height: 612px
        right: calc( 307px + 50px )
        left: auto
        transform: translateX(50%)

@media only screen and (max-width: 840px) and (min-width: 565px)    
    .circle-3
        width: 612px
        height: 612px
        right: calc( 307px + 100px )
        left: auto
        transform: translateX(50%)

@media only screen and (max-width: 1000px) and (min-width: 840px)  
    .circle-3
        width: 892px
        height: 892px
        right: calc( 307px + 450px )
        left: auto
        transform: translateX(50%)

@media only screen and (max-width: 1920px) and (min-width: 1001px)  
    .circle-3
        width: 892px
        height: 892px
        right: calc( 307px + 40rem )
        left: auto
        transform: translateX(50%)