.ref-component-container
    overflow: hidden
    display: flex
    flex-direction: column
    width: 301px
    height: 246px
    margin: 20px
    color: #FFFFFF

.name-project-container
    display: flex
    flex-direction: column
    height: 53px

.name
    display: flex
    font-family: 'Montserrat', sans-serif
    font-size: clamp(1rem, 1.5vw + 0.5rem, 1.5rem)
    font-weight: 700
    color: linear-gradient(179.99deg, #FFFFFF 12.89%, #EAF0FF 91.39%)
    letter-spacing: 0%
    line-height: 120%

.project
    display: flex
    font-family: 'Montserrat', sans-serif
    font-size: 16px
    font-weight: 400
    color: linear-gradient(179.99deg, #FFFFFF 12.89%, #EAF0FF 91.39%)
    letter-spacing: 0%
    line-height: 140%
    margin-top: 5px

.ref-description-container
    display: flex
    width: 301PX
    height: 161px
    font-family: 'Montserrat', sans-serif
    font-weight: 400
    font-size: 18px
    line-height: 120%
    letter-spacing: 0%
    margin-top: 25px


.description
    display: flex
    font-family: 'Montserrat', sans-serif
    font-size: 18px
    font-weight: 400
    color: linear-gradient(179.99deg, #FFFFFF 12.89%, #EAF0FF 91.39%)
    letter-spacing: 0%
    line-height: 120%

// @media (max-width: 1439px)
//     .ref-component-container
//         width: 282px
//         height: auto
//         display: flex

//     .name-project-container
//         display: flex
//         justify-self: center
//         width: 238px
//         height: auto

//     .name
//         display: flex
//         justify-self: center
//         width: 238px
//         height: auto

//     .project
//         display: flex
//         justify-self: center
//         width: 238px
//         height: auto

//     .ref-description-container
//         display: flex
//         justify-self: center
//         width: 234px
//         height: auto

//     .description
//         display: flex
//         justify-self: center