.ref-section
    display: flex
    width: 301px
    height: 246px
    margin: 20px

.name-project-container
    display: flex
    height: 53px

.name
    display: flex
    font-family: 'Montserrat', sans-serif
    font-size: 24px
    font-weight: 700
    color: linear-gradient(179.99deg, #FFFFFF 12.89%, #EAF0FF 91.39%)
    letter-spacing: 0%
    line-height: 120%

.project
    display: flex
    font-family: 'Montserrat', sans-serif
    font-size: 16px
    font-weight: 400
    color: linear-gradient(179.99deg, #FFFFFF 12.89%, #EAF0FF 91.39%)
    letter-spacing: 0%
    line-height: 140%

.ref-description-container
    display: flex
    width: 301PX
    height: 161px

.description
    display: flex
    font-family: 'Montserrat', sans-serif
    font-size: 18px
    font-weight: 400
    color: linear-gradient(179.99deg, #FFFFFF 12.89%, #EAF0FF 91.39%)
    letter-spacing: 0%
    line-height: 120%