
<div class="my-work-section">
    <div class="my-work-content">
        <div class="container-left">
            <div class="my-work-circle-7-container">
                <div class="circle-7">
                </div>
            </div>
            <div class="header-and-description-container">
                <div class="header-container">
                    <p class="header-txt">
                        My work
                    </p>
                </div>
                <div class="description-container">
                    <p class="description-txt">
                        Explore a selection of my work here - Interact with projects to see my skills in action.
                    </p>
                </div>    
            </div>
        </div>
        <div class="container-right">
            <div class="my-work-circle-8-container">
                <div class="circle-8">
                </div>
            </div>
        </div>
    </div>
</div>