<section
  class="my-work-section"
  role="region"
  aria-labelledby="my-work-heading"
>
  <div id="myWork" class="my-work-container">
    <div class="my-work-head-container">
      <div class="container-left">
        <div class="my-work-circle-7-container">
          <div class="circle-7">
          </div>
        </div>
        <div class="header-and-description-container">
          <div class="header-container">
            <h2
              id="my-work-heading"
              class="header-txt reveal-zoom"
            >
              {{ 'MY_WORK.HEADER' | translate }}
            </h2>
          </div>
          <div class="description-container">
            <p class="description-txt">
              {{ 'MY_WORK.DESCRIPTION' | translate }}
            </p>
          </div>
        </div>
      </div>
      <div class="container-right">
        <div class="my-work-circle-8-container">
          <div class="circle-8">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
