<div class="my-work-section">
    <div id="myWork" class="my-work-container">
        <div class="my-work-head-container">
            <div class="container-left">
                <div class="my-work-circle-7-container">
                    <div class="circle-7">
                    </div>
                </div>
                <div class="header-and-description-container">
                    <div class="header-container">
                        <p class="header-txt">
                            My work
                        </p>
                    </div>
                    <div class="description-container">
                        <p class="description-txt">
                            Entdecken Sie hier eine Auswahl meiner Arbeiten – interagieren Sie mit Projekten, um meine Fähigkeiten in Aktion zu sehen.
                        </p>
                    </div>    
                </div>
            </div>
            <div class="container-right">
                <div class="my-work-circle-8-container">
                    <div class="circle-8">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>