<div class="ref-section">
    <div class="ref-container">
        <div class="header-and-text-container">
            <div class="header-container">
            <p class="header-container">{{ 'REF_SECTION.TEAMPLAYER' | translate }}</p>
            </div>
            <div class="second-header-container">
                <p class="second-header-container">{{ 'REF_SECTION.COLLEAGUES' | translate }}</p>
            </div>
        </div>
        <div class="ref-posts">
            @for (entry of ref; track entry) {
                <div class="ref-card">
                <app-ref
                    [name]="entry.name"
                    [project]="entry.project"
                    [commit]="entry.commit">
                </app-ref>
                </div>
            }
        </div>
    </div>
</div>