<div class="ref-section">
    <div class="header-and-text-container">
        <div class="header-container">
            <p>Need a teamplayer?</p>
        </div>
        <div class="second-header-container">
            <p>Here what may colleagues said about me</p>
        </div>
    </div>
    <div class="ref-posts">
        <div class="ref-a-post">
            <app-ref></app-ref>
        </div>
        <div class="ref-a-post">
            <app-ref></app-ref>
        </div>
        <div class="ref-a-post">
            <app-ref></app-ref>
        </div>
    </div>
</div>