.ref-section
    overflow: hidden
    display: flex
    flex-direction: column
    align-items: center
    width: 100vw
    height: auto
    margin: 0 auto
    background: linear-gradient(128.94deg, #5988FF -33.96%, #5988FF 36.71%, #0043F0 112.25%)

.ref-container
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    max-width: 1920px
    height: auto
    color: white

.header-and-text-container
    display: flex
    flex-direction: column
    align-items: center

.header-container
    display: flex
    width: 407px
    height: 63px
    top: 47px
    font-family: 'Baloo 2', sans-serif
    font-size: 45px
    line-height: 141%
    letter-spacing: 0%
    color: #FFFFFF
    text-align: center

.second-header-container
    display: flex
    width: 645px
    height: 45px
    margin-top: 30px
    font-family: 'Baloo 2', sans-serif
    font-weight: 400
    font-size: 32px
    line-height: 141%
    letter-spacing: 0%
    color: #FFFFFF
    text-align: center

.ref-posts
    display: flex
    justify-content: center
    max-width: 1035px
    height: 246px
    margin-top: 80px

.ref-a-post
    display: flex
    width: 301px
    height: 246px
