@use '../../../styles/mixins' as m

:host
    display: block
    width: 100%
    margin-left: 0
    margin-right: 0

.ref-section
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    height: auto
    margin: 0
    background: linear-gradient(128.94deg, #5988FF -33.96%, #5988FF 36.71%, #0043F0 112.25%)

.ref-container
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    max-width: 1920px
    height: auto
    color: white

.header-and-text-container
    display: flex
    flex-direction: column
    align-items: center
    width: 95%
    max-width: 1920px

.header-container
    div
        display: flex
        justify-content: center
        width: 100%
        max-width: 1920px
        height: auto
        margin: 0

    p
        width: 100%
        max-width: 1920px
        height: auto
        margin: 0
        font-family: 'Baloo 2', sans-serif
        font-size: clamp(2.25rem, 3vw + 1rem, 2.8125rem)
        line-height: 141%
        letter-spacing: 0%
        color: #FFFFFF
        text-align: center

.second-header-container
    div
    display: flex
    justify-content: center
    width: 100%
    max-width: 1920px
    height: auto
    margin: 0
    padding-bottom: 2em

    p
        width: 100%
        max-width: 1920px
        height: auto
        margin: 0
        font-family: 'Montserat'
        font-weight: 400
        font-weight: normal
        font-size: clamp(1rem, 4vw + 0.2rem, 2rem)
        line-height: 141%
        letter-spacing: 0%
        color: #FFFFFF
        text-align: center

.ref-posts
    @include m.hide-scrollbar
    @include m.allow-horizontal-scroll
    overflow-y: hidden
    display: flex
    justify-content: center
    max-width: 1035px
    height: auto
    gap: 2rem

.ref-a-post1
    display: flex
    width: 301px
    height: auto

.ref-a-post2
    display: flex
    width: 301px
    height: auto

// @media (max-width: 1439px)
//     .ref-section
//         width: 390px
//         margin: 0 auto
//         display: flex
//         align-items: center

//     .ref-container
//         flex-direction: column
//         align-items: center

//     .ref-title
//         font-size: 28px
//         text-align: center

//     .ref-description
//         font-size: 16px
//         text-align: center
//         padding: 0 10px

//     .ref-card
//         width: 100%
//         max-width: 360px
//         padding: 10px

//     .ref-image
//         width: 100%
//         height: auto

//     .ref-text
//         font-size: 14px
//         text-align: center

//     .circle,
//     .ref-deco
//         display: none


//     .header-container
//         display: flex
//         justify-content: center
//         font-size: 36px
//         font-weight: bold
//         text-align: center

//     .second-header-container
//         display: flex
//         justify-content: center
//         font-size: 16px
//         font-weight: normal

//     .ref-posts
//         display: flex
//         flex-direction: row
//         overflow-x: auto
//         overflow-y: hidden
//         width: 100%
//         gap: 0px
//         padding-left: 900px
//         padding-right: 700px         // Erzeugt den extra Scrollbereich rechts
//         -webkit-overflow-scrolling: touch
//         scroll-snap-type: x mandatory
//         scroll-padding-left: 0

//         &::-webkit-scrollbar
//             display: none
//         scrollbar-width: none
//         -ms-overflow-style: none

//     .ref-a-post
//         flex: 0 0 auto
//         width: 280px
//         height: 246px
//         scroll-snap-align: start