<div class="ref-section">
    <div class="ref-container">
        <div class="header-and-text-container">
            <div class="header-container">
            <p class="header-container">{{ 'REF_SECTION.TEAMPLAYER' | translate }}</p>
            </div>
            <div class="second-header-container">
                <p class="second-header-container">{{ 'REF_SECTION.COLLEAGUES' | translate }}</p>
            </div>
        </div>
        <div class="ref-posts">
            <div class="ref-a-post1">
                <app-ref [name]="ref[2].name" [project]="ref[2].project" [commit]="ref[2].commit"></app-ref>
            </div>
            <div class="ref-a-post1">
                <app-ref [name]="ref[0].name" [project]="ref[0].project" [commit]="ref[0].commit"></app-ref>
            </div>
            <div class="ref-a-post2">
                <app-ref [name]="ref[1].name" [project]="ref[1].project" [commit]="ref[1].commit"></app-ref>
            </div>

        </div>
    </div>
</div>