@mixin hide-scrollbar
    overflow-y: auto
    overflow-x: hidden
    -ms-overflow-style: none
    scrollbar-width: none

    &::-webkit-scrollbar
        display: none


@mixin allow-horizontal-scroll
    overflow-x: auto