:host
    display: block
    width: 100%
    margin-left: 0
    margin-right: 0
    
.skill-set-section
    width: 100%
    height: auto
    margin: 0
    display: flex
    justify-content: center
    background: linear-gradient(128.94deg, #5988FF -33.96%, #5988FF 36.71%, #0043F0 112.25%)
    overflow: hidden
    
.skill-set-container
    display: flex
    align-items: center
    flex-direction: column
    margin: 0px
    width: 100%
    height: auto
    max-width: 1920px

.header-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 353px
    height: 96px
    margin: 0
    margin-top: 110px

.header-txt
    display: flex
    align-items: center
    font-family: 'Baloo 2', sans-serif
    font-size: 96px
    font-weight: 400
    line-height: 100%
    letter-spacing: 1%
    color: #FFFFFF

.skill-set-components-container
    display: flex
    width: 100%
    max-width: 1920px
    height: auto
    flex-wrap: wrap
    justify-content: center
    gap: 24px
    margin-top: 40px
    padding-bottom: 16px


@media (max-width: 500px )

    .header-txt
        font-size: 64px

@media (max-width: 400px)
    #skillSet
        scroll-margin-top: 100px

    .skill-set-section
        display: flex
        width: 100%
        height: auto
        overflow: visible
    
    .skill-set-container
        scroll-margin-top: 117px
        display: flex
        justify-content: center
        align-items: center
        margin: 0 auto
        width: 390px
        height: auto

    .header-txt
        font-size: 64px
        line-height: 120%