<div class="skill-set-section">
    <div class="header-container">
        <p class="header-txt">Skill set</p>
    </div>
    <div class="skill-set-components-container">
        <app-programm-box></app-programm-box>
        <app-programm-box></app-programm-box>
        <app-programm-box></app-programm-box>
        <app-programm-box></app-programm-box>
        <app-programm-box></app-programm-box>
        <app-programm-box></app-programm-box>
        <app-programm-box></app-programm-box>
        <app-programm-box></app-programm-box>
        <app-programm-box></app-programm-box>
        <app-programm-box></app-programm-box>
        <app-programm-box></app-programm-box>
    </div>
</div>