:host
    display: block
    width: 100%
    margin-left: 0
    margin-right: 0

.contact-section
    overflow: hidden
    width: 100%
    height: auto
    margin: 0 
    display: flex
    justify-content: center
    align-items: center
    background: linear-gradient(179.99deg, #FFFFFF 12.89%, #EAF0FF 91.39%)

    .contact-container
        width: 100%
        max-width: 1920px
        height: auto
        display: flex
        flex-direction: column
        align-items: center

        .circle-13-container
            display: flex
            justify-content: center
            margin-top: 30px

            .circle-13
                display: flex
                width: 130px
                height: 130px
                margin-left: 930.5px
                angle: -81.57 deg
                border-radius: 50%
                background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%)

        .contact-title-and-container-left-right
            display: flex
            flex-direction: column
            max-width: 1920px
            width: 100%

            .title-contact-container
                max-width: 1920px
                height: 108px
                display: flex
                justify-content: center
                flex-direction: column
                align-items: flex-start
                width: 100%
                height: auto
                left: 1px

                .title-txt
                    max-width: 1920px
                    height: 108px
                    display: flex
                    width: 100%
                    height: auto
                    font-family: 'Baloo 2', sans-serif
                    font-weight: 400
                    font-size: 90px
                    line-height: 120%
                    letter-spacing: 0%
                    padding: 1rem
                    color: #5988FF

            .container-left-and-right
                width: 100%
                height: auto
                margin: 0
                display: flex
                justify-content: center

                .container-left
                    display: flex
                    align-items: center
                    flex-direction: column
                    width: 50%
                    height: auto
                    gap: 1rem
                    padding: 1rem

                    .got-a-problem-title-container
                        display: flex
                        align-items: center
                        width: 100%
                        height: auto
                        gap: 1rem

                        .got-a-problem-txt
                            display: flex
                            font-family: 'Montserrat', sans-serif
                            font-weight: 700
                            font-size: 32px
                            line-height: 120%
                            letter-spacing: 0%
                            color: #5988FF

                    .got-a-problem-title-description-container
                        display: flex
                        align-items: center
                        padding-top: 25px
                        padding-bottom: 20px
                        width: 100%
                        height: auto

                        .got-a-problem-title-description-txt
                            display: flex
                            font-family: 'Montserrat', sans-serif
                            font-weight: 400
                            font-size: 1rem
                            line-height: 120%
                            letter-spacing: 0%

                    .need-a-contact-me-container
                        display: flex
                        align-items: center
                        justify-content: flex-start
                        width: 100%
                        height: auto

                        .need-a-contact-me-txt
                            width: 100%
                            display: flex
                            justify-content: flex-start
                            font-family: "Poppins", sans-serif
                            font-weight: 400
                            font-size: 0.9rem
                            line-height: 120%
                            letter-spacing: 0%
                            color: #5988FF

                            .need-a-contact-me-question
                                width: 100%

                            .need-a-contact-me-answer
                                width: 100%
                                font-weight: bold

        .circle-11-container
            display: flex
            justify-content: center
            width: 100%
            height: auto
            left: 242px
            angle: -0 deg

            .circle-11
                display: flex
                width: 204px
                height: 204px
                border-radius: 50%
                color: radial-gradient(74.22% 74.22% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%)

        .go-up-container
            width: 39px
            height: 39px
            display: flex
            justify-content: center
            align-items: center
            z-index: 6

        .container-right
            display: flex
            flex-direction: column
            width: 50%
            height: auto
            gap: 1rem
            padding: 1rem

            .your-name-container,
            .your-email-container,
            .your-message-container
                display: flex
                width: 100%
                height: auto

            .name-textfield,
            .email-textfield,
            .message-textfield
                display: flex
                width: 100%
                border-radius: 0.5rem
                border-width: 1px
                border: 1px solid #5988FF
                padding: 1rem

            .message-textfield
                height: 7rem

            .agree-privacypolice-check
                display: flex
                width: 100%
                height: auto
                gap: 8px

                .checkbox
                    display: flex
                    width: 24px
                    height: 24px

            .error-msg
                color: red
                font-size: 14px
                margin-top: 8px

            .success-msg
                color: green
                font-size: 14px
                margin-top: 8px

            .btn-contact
                max-width: 181px
                width: auto
                height: 58px
                position: relative
                overflow: hidden
                z-index: 0
                gap: 10px
                border-radius: 10px
                border: 2px solid #BBBBBB
                padding: 15px 30px
                background-color: #BBBBBB
                color: white
                font-family: 'Poppins', sans-serif
                font-size: 16px
                font-weight: 500
                cursor: pointer
                transition: all 0.2s ease-in-out
                box-shadow: 5px 5px 15px 0px #00000026

                &::before,
                &::after
                    content: ''
                    position: absolute
                    width: 100%
                    height: 100%
                    background-color: #0043F0
                    z-index: -1
                    transform: scale(0)
                    transition: transform 0.5s ease

                &::before
                    top: 0
                    left: 0
                    transform-origin: top left

                &::after
                    bottom: 0
                    right: 0
                    transform-origin: bottom right

                &:disabled
                    background-color: #ccc
                    border-color: #ccc
                    cursor: not-allowed

                &.btn-valid
                    border-color: #0043F0
                    cursor: pointer

                    &:hover
                        color: #FFFFFF
                        transform: scale(1.15)

                    &:hover::before,
                    &:hover::after
                        transform: scale(1)

        .circle-14-container
            width: 73px
            height: 73px
            angle: -0 deg

            .circle-14
                display: flex
                border-radius: 50%
                color: radial-gradient(74.22% 74.22% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%)

        a.privacy-link
            width: 205px
            font-family: Montserrat
            font-weight: 400
            font-size: 14px
            line-height: 120%
            letter-spacing: 0%
            text-decoration: none
            color: #5988FF
            transition: all 0.2s ease
            display: inline-block

            &:visited
                text-decoration: none
                color: #5988FF

            &:hover
                text-decoration: underline
                color: #0043F0
                font-weight: bold

        .back-to-top
            display: flex
            width: 40px
            height: 40px
            background-image: url('/assets/img/icon/arrowup.png')
            background-repeat: no-repeat
            background-position: center
            background-size: contain
            cursor: pointer
            transition: background-image 0.3s ease

            &:hover
                background-image: url('/assets/img/icon/arrowup-hover.png')

@media (max-width: 911px)
    .contact-section
        width: 100%
        height: auto
        justify-content: center
        align-items: center
        margin: 0

    .contact-container
        width: 100%
        height: auto
        justify-content: center
        align-items: center
        margin: 0

    .contact-title-and-container-left-right
        width: 100%
        height: auto
        justify-content: center
        align-items: center
        margin: 0

        .title-contact-container
            width: 100%
            height: auto
            justify-content: center
            align-items: center
            margin: 0

            .title-txt
                width: 100%
                height: auto
                justify-content: center
                align-items: center
                margin: 0

                p
                    width: 100%
                    justify-content: center
                    align-items: center

    .need-a-contact-me-txt
        width: 100%
        display: flex
        flex-direction: column

@media (max-width: 550px)
    #contact
        scroll-margin-top: 117px

    .contact-section
        width: 390px
        margin: 0 auto
        flex-direction: column
        overflow: visible

    .contact-container
        flex-direction: column
        align-items: center
        padding: 0 10px

    .contact-title-and-container-left-right
        flex-direction: column
        align-items: center

    .container-left-and-right
        flex-direction: column
        align-items: center
        gap: 30px
        margin-top: 20px

        .container-left
            width: 340px
            margin: 0

        .container-right
            display: flex
            justify-content: center
            align-items: center
            width: 100%
            margin: 0

    .title-contact-container
        margin: 0
        display: flex
        justify-content: center
        align-items: center

        .title-txt
            display: flex
            margin-left: 35px
            font-weight: bold
            font-size: 45px
            text-align: center

    .got-a-problem-title-txt
        font-weight: 700
        font-size: 23px
        margin-top: -20px

    .got-a-problem-title-container,
    .got-a-title-description-txt,
    .got-a-problem-title-description-container,
    .need-a-contact-me-container
        width: 341px
        height: auto
        margin-bottom: -40px
        justify-content: center
        text-align: center

    .your-name-container,
    .your-email-container,
    .your-message-container
        display: flex
        justify-content: center
        width: 341px

    .name-textfield,
    .email-textfield,
    .message-textfield
        display: flex
        justify-content: center
        width: 341px
        border-radius: 10px
        border-width: 1px
        border: 1px solid #5988FF
        padding: 15px 25px

    .message-textfield
        height: 202px

    .agree-privacypolice-check,
    .button-container
        width: 100%
        display: flex
        justify-content: center

    .btn-contact
        width: 180px
        margin-top: 40px
        margin-bottom: 100px

    .circle-11-container,
    .circle-13-container,
    .circle-14-container
        display: none

    .arrow-up
        display: none

    .go-up-container
        margin-top: -90px
        margin-bottom: 50px

@media (max-width: 374px)
    .contact-section,
    .container-right,
    .container-left
        width: 300px

    .your-name-container,
    .your-email-container,
    .your-message-container
        width: 280px

    .got-a-problem-title-description-txt,
    .contact-title-and-container-left-right,
    .got-a-problem-title-container
        width: 300px
        padding-right: 60px
