:host
    display: flex
    justify-content: center
    width: 100dvw
    margin: 0

.projects-section
    width: 100%
    height: auto
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    max-width: 1920px
    margin: 0
    padding: 1rem

    .first-project-container
        display: flex
        justify-content: center
        align-items: center
        margin: 0
        width: 100%
        height: auto
        padding: 2rem 1rem 3rem 1rem
        gap: 1rem

        .container-left
            display: flex
            width: 100%
            max-width: 620px
            height: auto
            justify-content: flex-start
            align-items: flex-end

            .project-img-container
                display: flex
                width: 100%
                height: auto

                .project-img-left
                    display: flex
                    justify-content: flex-end
                    align-items: center
                    width: 100%
                    max-width: 720px
                    height: auto
                    transition: transform 0.1s ease
                    transform-origin: left center

                    &:hover
                        transform: scale(1.03)

                    .a-img
                        width: 100%
                        display: flex
                        justify-content: center

                        .project-img
                            display: block 
                            width: 95%
                            height: auto
                            justify-content: center
                            align-items: center
                            object-fit: cover
                            box-shadow: 5px 5px 15px 0px #00000026

        .container-right
            display: flex
            width: 100%
            max-width: 620px
            height: auto
            justify-content: flex-end
            align-items: flex-end

            .project-description-container-right
                display: flex
                justify-content: flex-end
                align-items: flex-end
                width: 100%
                height: auto
                max-width: 532px
                margin: 0

                app-projects-txt-description
                    display: flex
                    justify-content: center

    .second-project-container
        display: flex
        justify-content: center
        align-items: center
        margin: 0
        width: 100%
        height: auto
        padding: 2rem 1rem 3rem 1rem
        gap: 1rem

        .container-left
            display: flex
            width: 100%
            max-width: 620px
            height: auto
            justify-content: flex-start
            align-items: flex-end

            .project-description-container-left
                display: flex
                justify-content: flex-start
                align-items: flex-end
                width: 100%
                height: auto
                max-width: 532px
                margin: 0

                app-projects-txt-description
                    display: flex
                    justify-content: center

        .container-right
            display: flex
            width: 100%
            max-width: 620px
            height: auto
            justify-content: flex-end
            align-items: flex-end

            .project-img-container
                display: flex
                width: 100%
                height: auto

                .project-img-right
                    display: flex
                    justify-content: flex-start
                    align-items: center
                    width: 100%
                    max-width: 720px
                    height: auto
                    transition: transform 0.1s ease
                    transform-origin: right center

                    &:hover
                        transform: scale(1.03)

                    .a-img
                        width: 100%
                        display: flex
                        justify-content: center

                        .project-img
                            display: block
                            width: 95%
                            height: auto
                            justify-content: center
                            align-items: center
                            object-fit: cover
                            box-shadow: 5px 5px 15px 0px #00000026

    .third-project-container
        display: flex
        justify-content: center
        align-items: center
        margin: 0
        width: 100%
        height: auto
        padding: 2rem 1rem 4rem 1rem
        gap: 1rem

        .container-left
            display: flex
            width: 100%
            max-width: 620px
            height: auto
            justify-content: flex-start
            align-items: flex-end

            .project-img-container
                display: flex
                width: 100%
                height: auto

                .project-img-left
                    display: flex
                    justify-content: flex-end
                    align-items: center
                    width: 100%
                    max-width: 720px
                    height: 100%
                    transition: transform 0.1s ease
                    transform-origin: left center

                    &:hover
                        transform: scale(1.03)

                    .a-img
                        width: 100%
                        display: flex
                        justify-content: center

                        .project-img
                            display: block
                            width: 95%
                            height: auto
                            justify-content: center
                            align-items: center
                            object-fit: cover
                            box-shadow: 5px 5px 15px 0px #00000026

        .container-right
            display: flex
            width: 100%
            max-width: 620px
            height: auto
            justify-content: flex-end
            align-items: flex-end

            .project-description-container-right
                display: flex
                justify-content: flex-end
                align-items: flex-end
                width: 100%
                height: auto
                max-width: 532px
                margin: 0

                app-projects-txt-description
                    display: flex
                    justify-content: center