
header
    width: 1440px
    height: 117px
    position: absolute
    margin: 0 auto
    top: 0
    left: 0
    right: 0
    
content
    width: 1440px
    height: auto
    display: flex
    flex-direction: column
    margin: 0

footer
    width: 1440px
    height: 286px
    margin: 0
    left: 0
    right: 0
    bottom: 0
    display: flex
    

