
header
    width: 1440px
    height: 117px
    position: absolute
    margin: 0 auto
    top: 0
    left: 0
    right: 0
    
content
    width: 1440px
    height: auto
    display: flex
    flex-direction: column
    margin: 0

footer
    width: 1440px
    height: 286px
    margin: 0
    left: 0
    right: 0
    bottom: 0
    display: flex
    

@media (max-width: 1439px)
    .privacy-policy
        width: 390px
        margin: 0 auto
        font-size: 14px
        line-height: 1.6
        text-align: left

    .privacy-policy h1,
    .privacy-policy h2,
    .privacy-policy h3
        text-align: center
