<section class="privacy-policy">
    <div class="txt">
        <h2 class="privacy-policy-header">
            {{ 'PRIVACY_POLICY.HEADER' | translate }}
        </h2>

        <div class="privacy-policy-item">
            <h4>
                {{ 'PRIVACY_POLICY.INTRO_HEADER' | translate }}
            </h4>
            <span>
                {{ 'PRIVACY_POLICY.INTRO_TEXT' | translate }}
            </span>
            <h4>
                {{ 'PRIVACY_POLICY.RESPONSIBLE_HEADER' | translate }}
            </h4>
            <span>
                Jennifer Thomas<br>
                Pfarrer-Müller-Str. 1<br>
                94431 Pilsting<br>
                E-Mail: contact at jennifer-thomas.de
            </span>
        </div>

        <div class="privacy-policy-item">
            <h4>
                {{ 'PRIVACY_POLICY.COLLECTION_HEADER' | translate }}
            </h4>
            <span>
                {{ 'PRIVACY_POLICY.COLLECTION_TEXT' | translate }}
                <span>
                    Name<br>
                    E-Mail-Adresse<br>
                    Nachrichtentext<br>
                </span>
                {{ 'PRIVACY_POLICY.COLLECTION_CONTINUE' | translate }}
            </span>
        </div>

        <div class="privacy-policy-item">
            <h4>
                {{ 'PRIVACY_POLICY.LEGAL_BASIS_HEADER' | translate }}
            </h4>
            <span>
                {{ 'PRIVACY_POLICY.LEGAL_BASIS_TEXT' | translate }}
            </span>
        </div>

        <div class="privacy-policy-item">
            <h4>
                {{ 'PRIVACY_POLICY.DISCLOSURE_HEADER' | translate }}
            </h4>
            <span>
                {{ 'PRIVACY_POLICY.DISCLOSURE_TEXT' | translate }}
            </span>
        </div>

        <div class="privacy-policy-item">
            <h4>
                {{ 'PRIVACY_POLICY.THIRD_PARTY_HEADER' | translate }}
            </h4>
            <span>
                {{ 'PRIVACY_POLICY.THIRD_PARTY_TEXT' | translate }}
                <a href="https://policies.google.com/privacy" target="_blank">Google</a>.
            </span>
        </div>

        <div class="privacy-policy-item">
            <h4>
                {{ 'PRIVACY_POLICY.RIGHTS_HEADER' | translate }}
            </h4>
            <span>
                {{ 'PRIVACY_POLICY.RIGHTS_TEXT' | translate }}
            </span>
        </div>

        <div class="privacy-policy-item">
            <h4>
                {{ 'PRIVACY_POLICY.SECURITY_HEADER' | translate }}
            </h4>
            <span>
                {{ 'PRIVACY_POLICY.SECURITY_TEXT' | translate }}
            </span>
        </div>

        <div class="privacy-policy-item">
            <h4>
                {{ 'PRIVACY_POLICY.COOKIES_HEADER' | translate }}
            </h4>
            <span>
                {{ 'PRIVACY_POLICY.COOKIES_TEXT' | translate }}
            </span>
        </div>

        <div class="privacy-policy-item">
            <h4>
                {{ 'PRIVACY_POLICY.CONTACT_HEADER' | translate }}
            </h4>
            <span>
                {{ 'PRIVACY_POLICY.CONTACT_TEXT' | translate }}
            </span>
        </div>
    </div>
</section>
