body
    background: linear-gradient(179.99deg, #FFFFFF 12.89%, #EAF0FF 91.39%)
    font-family: Arial, sans-serif
    line-height: 1.6
    margin: 0
    padding: 20px

div
    display: block
    margin-bottom: 20px
    text-align: left


h4
    font-family: 'Baloo 2', sans-serif
    font-size: 28px
    font-weight: 700 
    margin-bottom: 10px

span
    font-family: 'Montserrat', sans-serif
    font-size: 22px
    font-weight: 400
    color: #5988FF