<div class="my-project-section">
    <div class="my-first-project-container">
        <div class="my-project-img-container">
            <div class="my-project-img">
                <app-project-img></app-project-img>
            </div>
        </div>
        <div class="my-project-description-container">
            <div class="my-project-description">
                <app-project></app-project>
            </div>
        </div>
    </div>
    <div class="my-second-project-container">
        <div class="my-project-description-container">
            <div class="my-project-description">
                <app-project></app-project>
            </div>
        </div>
        <div class="my-project-img-container">
            <div class="my-project-img">
                <app-project-img></app-project-img>
            </div>
        </div>
    </div>
    <div class="my-third-project-container">
        <div class="my-project-img-container">
            <div class="my-project-img">
                <app-project-img></app-project-img>
            </div>
        </div>
        <div class="my-project-description-container">
            <div class="my-project-description">
                <app-project></app-project>
            </div>
        </div>
    </div>
</div>