@use '../../../../styles/mixins' as *

@media (max-width: 500px)
    .skill-set-section
        .skill-set-container
            .header-container
                .header-txt
                    @include font-f-s-c-w-lh-ls-a($family: null, $size: 64px, $color: null, $weight: null, $lineHeight: null, $letterSpacing: null, $align: null)

@media (max-width: 345px)
    .skill-set-section
        .skill-set-container
            .header-container
                .header-txt
                    @include font-f-s-c-w-lh-ls-a($family: null, $size: 50px, $color: null, $weight: null, $lineHeight: null, $letterSpacing: null, $align: null)

@media (max-width: 270px)
    .skill-set-section
        .skill-set-container
            .header-container
                .header-txt
                    @include font-f-s-c-w-lh-ls-a($family: null, $size: 40px, $color: null, $weight: null, $lineHeight: null, $letterSpacing: null, $align: null)

@media (prefers-reduced-motion: reduce)
    .reveal-zoom
        opacity: 1 !important
        transform: none !important
        animation: none !important