<section class="legal-notice" role="main" aria-labelledby="legal-notice-heading">
  <div class="txt">
    <h2 id="legal-notice-heading" class="reveal-zoom">
      {{ 'LEGAL_NOTICE.HEADER' | translate }}
    </h2>

    <div class="legal-notice-item">
      <h4 class="company-name">
        {{ 'LEGAL_NOTICE.COMPANY' | translate }}
      </h4>
      <span>
        Jennifer Thomas<br />
        Pfarrer-Müller-Str. 1<br />
        94431 Pilsting<br />
        contact at jennifer-thomas.de<br />
        www.jennifer-thomas.de
      </span>
    </div>

    <div class="legal-notice-item">
      <h4 class="responsible-for-content">
        {{ 'LEGAL_NOTICE.CONTENT_RESPONSIBLE' | translate }}
      </h4>
      <span>
        {{ 'LEGAL_NOTICE.CONTENT_PERSON' | translate }}
      </span>
    </div>

    <div class="legal-notice-item">
      <h4 class="disclaimer-header">
        {{ 'LEGAL_NOTICE.DISCLAIMER_HEADER' | translate }}
      </h4>
      <span>
        {{ 'LEGAL_NOTICE.DISCLAIMER_TEXT' | translate }}
      </span>
    </div>

    <div class="legal-notice-item">
      <h4 class="external-links-header">
        {{ 'LEGAL_NOTICE.LINK_HEADER' | translate }}
      </h4>
      <span>
        {{ 'LEGAL_NOTICE.LINK_TEXT' | translate }}
      </span>
    </div>

    <div class="legal-notice-item">
      <h4 class="copyright-header">
        {{ 'LEGAL_NOTICE.COPYRIGHT_HEADER' | translate }}
      </h4>
      <span>
        {{ 'LEGAL_NOTICE.COPYRIGHT_TEXT' | translate }}
      </span>
    </div>
  </div>
</section>
