<a [routerLink]="['/LegalNotice']" >legal notice</a>

<div class="legal-notice">
    <h4 class="legal-notice-header">Impressum</h4>
    
    <div class="legal-notice-item">
        <h4 class="company-name">Angaben gemäß § 5 TMG</h4>
        <span>Jennifer Thomas<br>
        Pfarrer-Müller-Str. 1<br>
        94431 Pilsting<br>
        E-Mail: [Deine E-Mail-Adresse]<br>
        Website: [Deine Webseite-URL]</span>
    </div>

    <div class="legal-notice-item">
        <h4 class="tax-id">Umsatzsteuer-Identifikationsnummer</h4>
        <span>USt-IdNr.: [Deine USt-IdNr.]</span>
    </div>

    <div class="legal-notice-item">
        <h4 class="responsible-for-content">Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</h4>
        <span>Jennifer Thomas<br>
        Pfarrer-Müller-Str. 1<br>
        94431 Pilsting</span>
    </div>

    <div class="legal-notice-item">
        <h4 class="disclaimer-header">Haftungsausschluss</h4>
        <span>Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.</span>
    </div>

    <div class="legal-notice-item">
        <h4 class="external-links-header">Haftung für Links</h4>
        <span>Unsere Webseite enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.</span>
    </div>

    <div class="legal-notice-item">
        <h4 class="copyright-header">Urheberrecht</h4>
        <span>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.</span>
    </div>
</div>
