.about-me-section
    display: flex
    flex-direction: column
    background-color: white
    width: 100%
    height: 668px
    top: 1029px

.about-me-circles-container
    display: flex
    justify-content: space-around
    width: 100%
    height: 131px


.circle-placeholder
    display: flex
    border-radius: 50%
    width: 1px
    height: 1px

.circle-5
    display: flex
    width: 206px
    height: 206px
    margin-top: -103px
    border-radius: 50%
    background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%)

.circle-6
    display: flex
    width: 82px
    height: 82px
    margin-top: 24.5px
    border-radius: 50%
    background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%)

.about-me-infos-container
    display: flex
    width: 100%
    height: auto
    justify-content: space-around
    align-items: center

.container-left
    display: flex
    flex-direction: column
    


.lets-work-togehter-container
    display: flex
    flex-direction: column

.lets-work-togehter-text
    display: flex
    margin: 0
    font-family: 'Baloo 2', sans-serif
    font-size: 121px
    weight: 400
    color: #5988FF
    line-height: 100%
    letter-spacing: 1%

.i-am-plus-info-container
    display: flex
    justify-content: center

.i-am-text
    display: flex
    justify-content: center
    font-family: 'Baloo 2', sans-serif
    font-size: 45px
    weight: 400
    color: #5988FF
    line-height: 100%
    letter-spacing: 1%

.info-container
    display: flex

.icon-txt-container
    display: flex
    justify-content: space-between
    align-items: flex-end

    img
        display: flex

.text

.container-right
    display: flex
    width: 571px
    height: auto

.information-about-me-container
    display: flex

.information-about-me-text
    display: flex

.send-a-message-container
    display: flex

.send-a-message-btn
    display: flex

.send-a-message-btn-text
    display: flex

.about-me-bottom
    display: flex
    width: 100%
    height: 131px