<div class="about-me-section">
    <div class="about-me-circles-container">
        <div class="circle-placeholder">
        </div>
        <div class="circle-5">
        </div>
        <div class="circle-6">
        </div>
    </div>
    <div class="about-me-infos-container">
        <div class="container-left">
            <div class="lets-work-togehter-container">
                <p class="lets-work-togehter-text">
                    let's work
                </p>
                <p class="lets-work-togehter-text">
                    together
                </p>
            </div>
            <div class="i-am-plus-info-container">
                <div class="i-am-container">
                    <p class="i-am-text">
                        I am
                    </p>
                </div>
                <div class="info-container">
                    <div class="located-icon-txt-container">
                        <img class="located-icon" src="./assets/img/icon/located.png" alt="">
                        <p class="located-txt">located in Pilsting</p>
                    </div>
                    <div class="remote-icon-txt-container">
                        <img class="remote-icon" src="./assets/img/icon/remote.png" alt="">
                        <p class="remote-txt">open to work remote</p>
                    </div>
                    <div class="relocate-icon-txt-container">
                        <img class="relocate-icon" src="./assets/img/icon/relocate.png" alt="">
                        <p class="relocate-txt">open to relocate</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-right">
            <div class="information-about-me-container">
                <p class="imformation-about-me-text">
                    Write some information about yourself that is IT related. Why are you passionate about programming? What is your source of inspiration for improving your coding skills? Show a desire to learn new technologies. Describe your approach to problem solving. Do you learn from each challenge to find the most efficient or elegant solution? You can include some key attributes such as: analytical thinking, creativity, persistence and collaboration.
                </p>
            </div>
            <div onclick="Contact(contactForm)" class="send-a-message-container">
                <div class="send-a-message-btn">
                    <p class="send-a-message-btn-text">
                       Send a message
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="about-me-bottom">
    </div>
</div>