<div class="about-me-section">
    <div class="about-me-circles-container">
        <div class="circle-placeholder">
        </div>
        <div class="circle-5">
        </div>
        <div class="circle-6">
        </div>
    </div>
    <div class="about-me-infos-container">
        <div class="container-left">
            <div class="lets-work-togehter-container">
                <p class="lets-work-togehter-text">
                    let's work
                </p>
                <p class="lets-work-togehter-text">
                    together
                </p>
            </div>
            <div class="i-am-plus-info-container">
                <div class="i-am-container">
                    <p class="i-am-text">
                        I am
                    </p>
                </div>
                <div class="info-container">
                    <div class="icon-txt-container">
                        <img src="./src/assets/img/icon/locaded.png" alt="">
                        <p class="text"></p>
                    </div>
                    <div class="icon-txt-container">
                        <img src="./src/assets/img/icon/remote.png" alt="">
                        <p class="text"></p>
                    </div>
                    <div class="icon-txt-container">
                        <img src="./src/assets/img/icon/relocate.png" alt="">
                        <p class="text"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-right">
            <div class="information-about-me-container">
                <p class="imformation-about-me-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque totam nemo debitis inventore, aliquid dolorum temporibus quidem iure, ea reiciendis quas quo maxime fugit nulla eum repellendus quis, cum amet!
                </p>
            </div>
            <div class="send-a-message-container">
                <div class="send-a-message-btn">
                    <p class="send-a-message-btn-text">
                       Send a message
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="about-me-bottom">
    </div>
</div>