@use '../../../../../styles/mixins' as *

@media (max-width: 800px)
    .project-infos-section
        @include flex-d-j-a-g($dir: column, $justify: center, $align: center, $gap: null)
        @include boxsize-w-h-minw-minh-maxw-maxh($w: 100%, $h: auto, $minw: null, $minh: null, $maxw: 1920px, $maxh: null)
        padding: 1rem

        .project-infos-txt-container
            @include flex-d-j-a-g($dir: column, $justify: center, $align: center, $gap: null)

            .header-container
                @include flex-d-j-a-g($dir: row, $justify: center, $align: center, $gap: null)

                .header-txt
                    @include flex-d-j-a-g($dir: row, $justify: center, $align: center, $gap: null)
                    @include font-f-s-c-w-lh-ls-a($family: null, $size: null, $color: null, $weight: null, $lineHeight: null, $letterSpacing: null, $align: null)
                    margin: 0

            .programms-container
                @include flex-d-j-a-g($dir: row, $justify: center, $align: center, $gap: null)
                margin: 0

                .programms-txt
                    @include boxsize-w-h-minw-minh-maxw-maxh($w: 100%, $h: auto, $minw: null, $minh: null, $maxw: null, $maxh: null)
                    margin: 0
                    @include flex-d-j-a-g($dir: row, $justify: center, $align: center, $gap: null)
                    @include font-f-s-c-w-lh-ls-a($family: null, $size: null, $color: null, $weight: null, $lineHeight: null, $letterSpacing: null, $align: center)

            .project-description-container
                @include font-f-s-c-w-lh-ls-a($family: null, $size: null, $color: null, $weight: null, $lineHeight: null, $letterSpacing: null, $align: center)
                @include flex-d-j-a-g($dir: row, $justify: center, $align: center, $gap: null)

                .project-description-txt
                    @include flex-d-j-a-g($dir: row, $justify: center, $align: center, $gap: null)
                    margin: 0
                    @include boxsize-w-h-minw-minh-maxw-maxh($w: 100%, $h: auto, $minw: null, $minh: null, $maxw: null, $maxh: null)
                    @include font-f-s-c-w-lh-ls-a($family: null, $size: null, $color: null, $weight: null, $lineHeight: null, $letterSpacing: null, $align: center)

        .btn-alignment
            @include flex-d-j-a-g($dir: row, $justify: center, $align: center, $gap: null)
            @include boxsize-w-h-minw-minh-maxw-maxh($w: 100%, $h: auto, $minw: null, $minh: null, $maxw: 400px, $maxh: null)
            margin: 0
            padding: 0 2rem

            .livetest-alignment
                @include boxsize-w-h-minw-minh-maxw-maxh($w: 50%, $h: auto, $minw: null, $minh: null, $maxw: null, $maxh: null)
                margin: 0
                @include flex-d-j-a-g($dir: row, $justify: flex-start, $align: center, $gap: null)
                display: flex

                .livetest-btn-container
                    @include boxsize-w-h-minw-minh-maxw-maxh($w: auto, $h: auto, $minw: null, $minh: null, $maxw: null, $maxh: null)

            .project-github-btn-container-alignment
                @include boxsize-w-h-minw-minh-maxw-maxh($w: 50%, $h: auto, $minw: null, $minh: null, $maxw: null, $maxh: null)
                @include flex-d-j-a-g($dir: row, $justify: flex-end, $align: center, $gap: null)

                .project-github-btn-container
                    margin: 0
                    padding: 0.7rem

                    .github-btn
                        @include flex-d-j-a-g($dir: row, $justify: center, $align: center, $gap: null)
                        @include font-f-s-c-w-lh-ls-a($family: null, $size: 1.4375rem, $color: null, $weight: null, $lineHeight: 120%, $letterSpacing: 0, $align: null)

@media (max-width: 420px)
    .project-infos-section
        @include boxsize-w-h-minw-minh-maxw-maxh($w: 95%, $h: null, $minw: null, $minh: null, $maxw: null, $maxh: null)

@media (max-width: 310px)
    .project-infos-section
        .btn-alignment
            .livetest-alignment
                .livetest-btn-container
                    .livetest-btn
                        @include font-f-s-c-w-lh-ls-a($family: null, $size: 1.4rem, $color: null, $weight: null, $lineHeight: null, $letterSpacing: null, $align: null)
            .project-github-btn-container-alignment
                .project-github-btn-container
                    .github-btn
                        @include font-f-s-c-w-lh-ls-a($family: null, $size: 1.4rem, $color: null, $weight: null, $lineHeight: null, $letterSpacing: null, $align: null)

@media (max-width: 270px)
    .project-infos-section
        .btn-alignment
            .livetest-alignment
                .livetest-btn-container
                    .livetest-btn
                        @include font-f-s-c-w-lh-ls-a($family: null, $size: 1.1rem, $color: null, $weight: null, $lineHeight: null, $letterSpacing: null, $align: null)
            .project-github-btn-container-alignment
                .project-github-btn-container
                    .github-btn
                        @include font-f-s-c-w-lh-ls-a($family: null, $size: 1.1rem, $color: null, $weight: null, $lineHeight: null, $letterSpacing: null, $align: null)

@media (max-width: 240px)
    .project-infos-section
        .btn-alignment
            .livetest-alignment
                .livetest-btn-container
                    .livetest-btn
                        @include font-f-s-c-w-lh-ls-a($family: null, $size: 1rem, $color: null, $weight: null, $lineHeight: null, $letterSpacing: null, $align: null)
            .project-github-btn-container-alignment
                .project-github-btn-container
                    .github-btn
                        @include font-f-s-c-w-lh-ls-a($family: null, $size: 1rem, $color: null, $weight: null, $lineHeight: null, $letterSpacing: null, $align: null)
