<div class="project-infos-section">
    <div class="project-infos-txt-container">
        <div class="header-container">
            <p class="header-txt">Join for example</p>
        </div>
        <div class="programms-container"> 
            <p class="programms-txt">
                Angular | TypeScript | HTML | CSS |  Firebase 
            </p>      
        </div>
        <div class="project-description-container">  
            <span class="project-description-txt">
                Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories. 
            </span>     
        </div>
    </div>
    <div class="project-github-btn-container-alignment">
        <div class="project-github-btn-container">
            <button class="github-btn">
                <a href="">Github</a>
            </button>   
        </div>
    </div>
</div>
