.project-infos-section
    overflow: hidden
    display: flex
    flex-direction: column
    align-items: center
    width: 720px
    height: 410px
    margin-top: 50px

.project-infos-txt-container
    display: flex
    flex-direction: column
    align-items: flex-start
    width: 570px
    height: 200px

.header-container
    display: flex
    align-items: center
    margin: 0
    width: 513px
    height: 75px

.header-txt
    display: flex
    align-items: center
    font-family: 'Baloo 2', sans-serif
    font-weight: 400
    font-weight: bold
    font-size: 45px
    line-height: 120%
    letter-spacing: 0%
    color: #5988FF

.programms-container
    display: flex
    align-items: center
    width: 513px
    height: 60px

.programms-txt
    display: flex
    align-items: center
    font-family: 'Montserrat', sans-serif
    font-weight: 400
    font-size: 23px
    line-height: 120%
    letter-spacing: 0%
    color: #5988FF

.project-description-container
    display: flex
    align-items: center
    width: 513px
    height: 120px
    margin-top: 20px

.project-description-txt
    display: flex
    align-items: center
    font-family: 'Montserrat', sans-serif
    font-weight: 400
    font-size: 16px
    line-height: 120%
    letter-spacing: 0%
    color: #000000

.project-github-btn-container-alignment
    display: flex
    width: 513px
    height: 50px


.project-github-btn-container
    display: flex
    align-items: center
    justify-content: center
    width: 137px
    height: 60px
    padding-top: 15px
    padding-right: 30px
    padding-bottom: 15px
    padding-left: 30px
    border-radius: 10px
    border-color: #5988FF
    border-style: solid
    border-width: 2px
    margin-top: 100px
    margin-left: -30px


.github-btn
    display: flex
    justify-content: center
    align-items: center
    font-family: Poppins
    font-weight: 400
    font-size: 23px
    line-height: 120%
    letter-spacing: 0%

.livetest-alignment
    display: none

@media (max-width: 1439px)
    .project-infos-section
        display: flex
        margin-left: -60px
        justify-content: center
        width: 390px
        height: 650px


    .project-infos-txt-container
        display: flex
        justify-content: center
        width: 390px
        height: auto

    .header-container
        display: flex
        justify-content: center
        width: 250px
        height: auto
        margin-top: -100px
        margin-left: 60px
    
    .header-txt
        display: flex
        justify-content: center
        width: 240px
        height: auto

    .programms-container
        display: flex
        justify-content: center
        align-items: center
        width: 263px
        height: auto
        margin: 0 auto

    p
        .programms-txt
            width: 340px
            height: auto
            display: flex
            justify-content: center
            margin: 0 auto

    .project-description-container
        display: flex
        justify-content: center
        width: 340px
        height: auto
        margin: 0 auto
        margin-left: -50px

    .project-description-txt
        display: flex
        justify-content: center
        margin: 0 auto
        width: 390px
        height: auto
        margin-left: 120px

    .project-github-btn-container-alignment
        width: 140px
        height: auto
        display: flex
        justify-content: center
        margin: 0 auto
        margin-top: 20px

    .project-github-btn-container
        height: 30px
        width: 120px
        display: flex
        justify-content: center
        margin: 0 auto
        padding-top: 15px
        padding-right: 20px
        padding-bottom: 15px
        padding-left: 20px
        border-radius: 10px
        border-color: #5988FF
        border-style: solid
        border-width: 2px
        margin-top: 100px
        margin-left: -35px
        
    .github-btn
        display: flex
        justify-content: center
        display: flex
        justify-content: center
        align-items: center
        font-family: Poppins
        font-weight: 400
        font-size: 23px
        line-height: 120%
        letter-spacing: 0%

    .livetest-alignment
        width: 160px
        height: auto
        display: flex
        justify-content: center
        margin: 0 auto
        margin-top: 20px

    .livetest-btn-container
        display: flex
        justify-content: center
        margin: 0 auto
        padding-top: 15px
        padding-right: 30px
        padding-bottom: 15px
        padding-left: 30px
        border-radius: 10px
        border-color: #5988FF
        border-style: solid
        border-width: 2px
        background-color: #5988FF
        margin-top: 100px
        margin-left: -30px
    
    .livetest-btn
        display: flex
        justify-content: center
        display: flex
        justify-content: center
        align-items: center
        font-family: Poppins
        font-weight: 400
        font-size: 23px
        line-height: 120%
        letter-spacing: 0%


    .btn-alignment
        width: 340px
        height: auto
        display: flex
        align-items: center
        margin-left: 40px
