@use '../../../../../styles/mixins' as *

@media (max-width: 1035px)
  .programm-box-section
    .programm-box-container
      @include boxsize-w-h-minw-minh-maxw-maxh($w: 86px, $h: 140px, $minw: null, $minh: null, $maxw: 86px, $maxh: 140px)
      gap: 1.3rem
      padding: 2rem

@media (max-width: 850px)
  .programm-box-section
    .programm-box-container
      @include boxsize-w-h-minw-minh-maxw-maxh($w: 86px, $h: 130px, $minw: null, $minh: null, $maxw: 86px, $maxh: 130px)
      gap: 1.1rem
      padding: 1.8rem

@media (max-width: 690px)
  .programm-box-section
    .programm-box-container
      @include boxsize-w-h-minw-minh-maxw-maxh($w: 86px, $h: 120px, $minw: null, $minh: null, $maxw: 86px, $maxh: 120px)
      gap: 1rem
      padding: 1.6rem

@media (max-width: 500px)
  .programm-box-section
    .programm-box-container
      @include boxsize-w-h-minw-minh-maxw-maxh($w: 86px, $h: 100px, $minw: null, $minh: null, $maxw: 86px, $maxh: 100px)
      gap: 0.9rem
      padding: 1rem

      .programm-box-container
        .programm-img-container
          .programm-icon
            @include size-w-h($w: 62px, $h: 62px)

@media (max-width: 430px)
  .programm-box-section
    .programm-box-container
      @include boxsize-w-h-minw-minh-maxw-maxh($w: 80px, $h: 100px, $minw: null, $minh: null, $maxw: 80px, $maxh: 100px)
      gap: 0.5rem
      padding: 0.5rem

      .programm-box-container
        .programm-img-container
          .programm-icon
            @include size-w-h($w: 60px, $h: 60px)

@media screen and (min-width: 221px)
  .programm-txt
    animation: text-pulse 2.5s ease-in-out infinite
