.projects-section
    display: flex
    max-width: 1920px
    width: 100%
    height: auto
    flex-direction: column
    margin: 0 auto

.first-project-container
    display: flex
    margin: 0 auto
    width: 100%
    padding: 0 1rem

.second-project-container
    display: flex
    margin: 0 auto
    width: 100%
    padding: 0 1rem

.third-project-container
    display: flex
    margin: 0 auto
    width: 100%
    padding: 0 1rem

.container-left
    display: flex
    max-width: 50%
    flex: 1 1 50%

.container-right
    display: flex
    max-width: 50%
    flex: 1 1 50%

.project-img-container
    display: flex
    width: 100%
    max-width: 50%
    height: auto


.project-img
    display: flex
    width: 100%
    height: auto
    justify-content: center
    align-items: center
    object-fit: cover

.project-description-container
    display: flex
    align-items: center
    width: 100%