<div class="projects-section">
    <div class="first-project-container">
        <div class="container-left">
            <div class="project-img-container">
                <div class="project-img-left">
                    <img class="project-img" [src]="projectImg[0]" [alt]="name[0]" />
                </div>
            </div>
        </div>
        <div class="container-right">
            <div class="project-description-container-right">
                <app-project-description></app-project-description>
            </div>
        </div>
    </div>
    <div class="second-project-container">
        <div class="container-left">
            <div class="project-description-container-left">
                <app-project-description></app-project-description>
            </div>
        </div>
        <div class="container-right">
            <div class="project-img-container">
                <div class="project-img-right">
                    <img class="project-img" [src]="projectImg[1]" [alt]="name[1]" />
                </div>
            </div>
        </div>
    </div>
    <div class="third-project-container">
        <div class="container-left">
            <div class="project-img-container">
                <div class="project-img-left">
                    <img class="project-img" [src]="projectImg[2]" [alt]="name[2]" />
                </div>
            </div>
        </div>
        <div class="container-right">
            <div class="project-description-container-right">
                <app-project-description></app-project-description>
            </div>
        </div>
    </div>
</div>