<div class="projects-section">
    <div class="first-project-container">
        <div class="project-img-container">
            <app-project-img></app-project-img>
        </div>
        <div class="project-description-container">
            <app-project-description></app-project-description>
        </div>
    </div>
    <div class="second-project-container">
        <div class="project-description-container">
            <app-project-description></app-project-description>
        </div>
        <div class="project-img-container">
            <app-project-img></app-project-img>
        </div>
    </div>
    <div class="third-project-container">
        <div class="project-img-container">
            <app-project-img></app-project-img>
        </div>
        <div class="project-description-container">
            <app-project-description></app-project-description>
        </div>
    </div>
</div>